body{
    font-family: 'Mulish';
    color: #22253B;
    background: #f9f8fd;

}
.container{
    padding: 15px 10%;
    height: 85vh;
    max-width: 100%;
    z-index: 0;
}
.navbar{
    border-radius: 75px;
    font-size: 14px;
    background-color: #FFFFFF;
}
.navbar-collapse{
    margin-left: 5%;
}
.navbar-nav{
    gap: 35px;
}
.nav-link{
    color: #22253B;
}
.nav-link:hover{
    color: #F15525;
}
.m-left{
    margin-left: 34rem;
}
.btn-navbar{
    background-color: #38BFF2;
    color: #FFFFFF;
    font-size: 14px;
}
.btn-navbar:hover{
    background-color: #F15525;
    color: #FFFFFF;
}

.header-text{
    font-size: 46px;
    font-weight: 500;
    margin-top: 50px;
    width: 76%;
}

.btn-header-text{
    padding: 15px;
    background-color: #F15525;
    color: #FFFFFF;
}
.btn-header-text:hover{
    background-color: #38BFF2;
    color: #FFFFFF;
}
.img-position{
    top: 13.2%;
    right: 8.8%;
    width: 28%;
}
.circle-position{
    width: 85%;
    top: 0;
    right: 0;
    z-index: -1;
}
.btn-down{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    top: -2%;
    left: 48.7%;
    z-index: 2;
}
.bi-arrow-down-short{
    top: 10%;
    left: 10%;
}
.back-img{
    background-image: url("../img/Frame.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140vh;
}
.header-text-tech{
    margin-top: 6%;
    font-size: 46px;
    font-weight: 600;
}
.tech{
    border-radius: 48px;
    background: rgb(234, 242, 245);
    width: 62%;
}
.positing-img{
    padding-top: 42px;
    padding-left: 122.92px;
    padding-right: 59px;
}
.program-leng{
    display: flex;
    flex-wrap: wrap;
    margin-top: 78px;
    padding-right: 104.17px;
    gap: 10px;
}
.python{
    width: 311px;
    height: 45.13px;
    border-radius: 44px;
    background-color: rgb(80, 150, 255);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 11.88px 16.31px;
    margin: 0;
}
.set{
    width: 89px;
    height: 45.13px;
    border-radius: 44px;
    background: rgb(255, 179, 89);
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 9.88px 6.54px 10.69px 6.54px;
    text-align: center;
    margin: 0;
}
.data-base{
    background-color: #ff6f50;
    color: #FFFFFF;
    border-radius: 44px;
    width: 151.17px;
    height: 45.13px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}
.Django-and-flask{
    background-color: rgb(75, 208, 113);
    color: #FFFFFF;
    border-radius: 44px;
    width: 277.48px;
    height: 45.13px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}
.testing{
    background-color: rgb(80, 192, 255);
    color: #FFFFFF;
    border-radius: 44px;
    width: 258px;
    height: 45px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}
.docker{
    background-color: rgb(75, 119, 185);
    color: #FFFFFF;
    border-radius: 44px;
    width: 95px;
    height: 45px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}
.git{
    background-color: rgb(175, 147, 255);
    color: #FFFFFF;
    border-radius: 44px;
    width: 93.83px;
    height: 45.13px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}
.back-end-dev{
    color: rgb(34, 37, 59);
    font-size: 20px;
    width: 386px;
}
.practik{
    margin: 1% 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}
.card{
    width: 270px;
    height: 254px;
    background-color: rgb(234, 242, 245);
    border-radius: 30px;
}
.card-img-top{
    width: 57.4px;
    height: 57.4px;
    margin: 50px 106px 0;
}
.card-title{
    padding-left: 15%;
    width: 210px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.card-text{
    font-size: 13px;
    width: 220px;
    text-align: center;
    padding-left: 5%;
}
.card-text-1{
    font-size: 13px;
    width: 190px;
    text-align: center;
    padding-left: 23%;
}
.card-text-2{
    font-size: 13px;
    width: 180px;
    text-align: center;
    padding-left: 25%;
}
.card-title-1{
    width: 250px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.card-text-3{
    font-size: 13px;
    width: 190px;
    text-align: center;
    padding-left: 23%;
}
.card-text-4{
    font-size: 13px;
    width: 200px;
    text-align: center;
    padding-left: 9.6%;
}
.back-circle{
    width: 100%;
    top: -73.5%;
}
.learning-ytyt-header-text{
    margin-top: 2.6%;
    font-size: 46px;
    font-weight: 600;
}
.learning-ytyt-text{
    width: 652px;
}
.macbook-blur{
    top: 17%;
    z-index: -2;
}
.watching-video-position{
    top: 50.7%;
}
.watching-video-text{
    top: 69.2%;
}
.plan-obucheniya{
    margin: 2% 17% 0;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
    width: 65%;    
    padding: 3% 3%;
}
.info-obucheniya{
    padding: 0 5%;
}
.vr{
    height: 270px;
}
.num-color{
    color: #38bff2;
    font-weight: 700;
    font-size: 77px;
    font-family: 'Poppins';
}
.title-info{
    font-size: 24px;
    font-weight: 600;
    width: 266px;
}
.title-info-1{
    font-size: 24px;
    font-weight: 600;
    width: 188px;
}
.title-info-2{
    font-size: 24px;
    font-weight: 600;
    width: 208px;
}
.text-info-obucheniya{
    width: 237px;
}
.text-info-obucheniya-2{
    width: 277px;
}
.text-info-obucheniya-3{
    width: 292px;
}
.start-learn{
    margin: 2% 35% 0;
    background-color: #ffffff;
    border-radius: 110px;
    width: 538px;
    height: 93px;
    gap: 24px;
}
.learn-btn{
    border-radius: 82px;
    width: 250px;
    height: 70px;
    margin: 12px 0 11px 14px;
}
.text-learn{
    padding: 15px 0 0 19px;
    width: 224px;
    font-size: 15px;
    font-weight: 600;
}
.help{
    background-color: #ffffff;
    border-radius: 80px;
    padding: 91px 17% 89px;
}
.help-body{
    gap: 30px;
}
.img-help{
    border-radius: 40px;
    background: rgb(234, 242, 245);
    padding: 41px 65px;
}
.help-text{
    border-radius: 40px;
    background: rgb(234, 242, 245);
    padding: 54px 81px 0 100px;
}
.help-text-title{
    font-size: 32px;
    font-weight: 600;
}
.help-text-body-1{
    width: 435px;
}
.help-text-body-2{
    width: 550px;
}
.help-text-body-3{
    width: 520px;
}
.stoimost-text{
    width: 310px;
}
.stoimost-text-2{
    width: 160px;
}
.table{
    width: 67%;
    padding: 0 5% !important;
    border-color: #FFFFFF;
    border-radius: 10px !important;
}
.thead{
    padding-top: 36px !important;
    color: rgb(56, 191, 242) !important; 
    font-size: 16px !important;
    font-weight: 700 !important;
}